<app-divider>Table</app-divider>
<app-table [data]="data" [headers]="headers" [classNames]="'striped celled'"></app-table>

<app-divider>Tabs Menu</app-divider>
<app-tabs>

    <a routerLink="./" routerLinkActive="active" class="item" [routerLinkActiveOptions]="{exact: true}">Biography</a>
    <a routerLink="companies" routerLinkActive="active" class="item">Companies</a>
    <a class="item" routerLink="partners" routerLinkActive="active">Partners</a>
    <a class="item" routerLink="coding" routerLinkActive="active">Coding</a>

</app-tabs>